
  .custom-bg {
    background-color: #dfe8f1; /* สีฟ้าอ่อน หรือเลือกสีอื่น */
  }

  .sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* icon */
html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 90px; /* ปรับตามความสูงของ navbar */
}

.navbar-nav img:hover {
  filter: brightness(0.1);
 
}

/* text */
.navbar-nav .nav-link {
  color: #585858;            /* สีปกติ */
  transition: 0.3s;          /* ทำให้เปลี่ยนสีแบบนุ่มนวล */
}

.navbar-nav .nav-link:hover {
  color: #ddb609;            /* สีตอน hover (เช่น เหลืองทอง) */
}

/* กล่อง card */
.hover-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(12, 12, 12, 0.15);
  
}
  /* ทำให้ลูกศรชัดขึ้น */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* ทำให้สีลูกศรเป็นสีขาว */   
  }

.card {
    border: none; /* เอาเส้นกรอบออก */
    
}

.btn-primary {
    color: #000000;
    background-color: #DFE8F1; /* เปลี่ยนสีปุ่มเป็นแดงอ่อน หรือสีที่ชอบ */
    border: none; /* เอาเส้นขอบออก */
    transition: background 0.3s;
    transition: 0.3s;
    
}

.btn-primary:hover {
    color: #000000;
    background-color: #f8dd65; /* สีเมื่อ hover */
}


  /* เพิ่มเอฟเฟกต์เล็กๆ เวลา hover */
  .hover-scale {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  .hover-scale:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    z-index: 10;
  }

  .fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.img-hover {
  transition: 0.3s ease;
  cursor: pointer;
}

.img-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}
